* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div {
    border: 3px solid #EC0204;
    width: 600px;
    margin: 20% auto;
  }
  
  h1 {
    border: 3px solid #EC0204;
    margin: 10px;
  }
  
  p {
      border: 3px solid #EC0204;
      margin: 10px;
      padding: 10px;
  }
  
  ul {
      border: 3px solid#EC0204;
      padding: 20px;
      margin: 10px;
  }
  
  li {
    border: 3px solid #EC0204;
    padding: 5px 5px 5px 0px;
    margin: 0px;
}
  
  button {
      border: 3px solid #EC0204;
      padding: 5px;
  }
  
  a {
      border: 3px solid #EC0204;
      padding: 5px;
  }